[submodule "foundry__fundme/lib/foundry-devops"]
	path = foundry__fundme/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "fondry__lottery/lib/forge-std"]
	path = fondry__lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry__lottery/lib/forge-std"]
	path = foundry__lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry__lottery/lib/chainlink-brownie-contracts"]
	path = foundry__lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
